.link {
    padding: 0px;
    margin: 0px;
}

.link li {
    list-style: none;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}

.route {
    text-decoration: none;
    color: grey;

}


img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}


.link li:hover {
    list-style: none;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(40, 60, 240);
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: solid; 
    border-color:rgb(165, 165, 165);;
    border-width: 1px;
    cursor: pointer;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgb(40, 60, 240);
    background-color: white;
    border-radius: 4px;
}
